# Temp files
.DS_Store
*~

# Compiled files
__pycache__/
.ipynb_checkpoints/
/.jupyter_cache
/.venv/
/.*cache/


# Distribution / packaging
/dist/
/hatch.toml

# Tests and coverage
/data/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/
/docs/locale/de/LC_MESSAGES/build/
*.mo
