# Temp files
.DS_Store
*~
buck-out/

# Compiled files
/.venv/
/.pixi/*
/pixi.*
__pycache__/
.ipynb_checkpoints/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/
