# Caches
/.*cache
/node_modules/
/data/
.ipynb_checkpoints/
__pycache__/

# Temp files
.DS_Store
*~

# Virtual environments
.venv/

# Build artifacts
/dist/
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/
