# declare dependencies for binder and for executing notebooks on CI
name: tutorials
channels:
    - conda-forge
dependencies:
    - python=3.10
    - jupyter-cache
    - pip
    - pip:
          - scanpy
