name: Docs
on: [push, pull_request, workflow_dispatch]
jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
                  cache: "pip"
                  cache-dependency-path: "pyproject.toml"
            - name: Install dependencies

              run: python -m pip install .[doc]
            - name: Sphinx build
              run: |
                  cd docs && make html
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
              with:
                  publish_branch: gh-pages
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: docs/_build/html
                  force_orphan: true

            - name: Deploy to Netlify
              uses: nwtgck/actions-netlify@v1.2
              if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master'
              with:
                  publish-dir: "./docs"
                  github-token: ${{secrets.GITHUB_TOKEN}}
                  deploy-message: "Netlify Deployment from GitHub Actions"
              env:
                  NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
                  NETLIFY_SITE_ID:
              timeout-minutes: 1
